#btn_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#find{
  height: 35px;
  margin-right: 3px;
}
.ui-button {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.p-col-12 .p-md-4{
  margin-top: 0.5em;
}
.inp{
  margin-right: 0.5em;
}
.p-button .p-component .p-ripple{
  align-self: center;
}

.p-col-12 .p-md-4 .btn{
  align-content: center;
}

#foto{
  border: '1rem';
  border-color: 'black';
}
