<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col-md-6 login-form-1">
      <h3>Iniciar sesión</h3>
      <div class="form"></div>
      <div [formGroup]="form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Usuario" formControlName="username" value="" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" value="" />
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" (click)="login()" value="Entrar" />
        </div>
      </div>
    </div>
  </div>
</div>
